body {
    font-family: Arial, Helvetica, sans-serif;
}

#my-jumbotron {
    background-color: #20639B;
}

.card-box {
    flex: 1 150px;
    padding: 5px;
    margin-top: 0.7%;
}

.card-btn {
    width: 100%;
    margin: 5px;
}

#my-footer {
    background-color: #F5F7FA;
    margin-bottom: 1.2%;
}